<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Participants
    </ion-title>
  </ion-navbar>
  <ion-toolbar no-border-top>
    <ion-searchbar [(ngModel)]="searchString" showCancelButton="true">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)" [enabled]="auth.isUserSignedIn()">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card *ngIf="!auth.isUserSignedIn()" color="light">
    <ion-card-content>
      Please Sign In to View / Edit Participants
    </ion-card-content>
  </ion-card>

  <div *ngIf="auth.isUserSignedIn()">
    <div *ngIf="(size | async) === 0" color="light">
      <h1 text-center class="xxl soft"><ion-icon name="archive"></ion-icon></h1>
      <h3 text-center class="soft"> No Data yet !! </h3>
    </div>

    <div *ngIf="(size | async) > 0">
      <ion-list>
        <ion-list-header class="danger-text">
          Todo
        </ion-list-header>
        <ng-container *ngFor="let participant of participantStore.participants | async; let idx = index" >
          <ion-item-sliding *ngIf="participant.completed === false">
            <ion-item>
              <h3>{{participant.name}} - <b>{{participant.project}}</b></h3>
              <p><i>{{participant.due | fromNow}}</i> - {{participant.description}}</p>
            </ion-item>
            <ion-item-options side="right">
              <button ion-button icon-only padding-horizontal color="danger" (click)="deleteTask(idx)">
                <ion-icon name="trash"></ion-icon>
              </button>
            </ion-item-options>
            <ion-item-options side="left">
              <button ion-button icon-only padding-horizontal color="secondary" (click)="completeTask(idx)">
                <ion-icon name="checkmark"></ion-icon>
              </button>
            </ion-item-options>
          </ion-item-sliding>
        </ng-container>
      </ion-list>

      <ion-list>
        <ion-list-header class="ok-text">
          Completed
        </ion-list-header>
        <ng-container *ngFor="let participant of participantStore.participants | async; let idx = index" >
          <ion-item-sliding *ngIf="participant.completed === true">
            <ion-item>
              <h3>{{participant.name}} - <b>{{participant.project}}</b></h3>
              <p><i>{{participant.due | fromNow}}</i> - {{participant.description}}</p>
            </ion-item>
            <ion-item-options side="right">
              <button ion-button icon-only padding-horizontal color="danger" (click)="deleteTask(idx)">
                <ion-icon name="trash"></ion-icon>
              </button>
            </ion-item-options>
          </ion-item-sliding>
        </ng-container>
      </ion-list>
    </div>

  </div>

    <ion-fab right bottom *ngIf="auth.isUserSignedIn()">
      <button ion-fab color="secondary" (click)="openModal()"><ion-icon name="add"></ion-icon></button>
    </ion-fab>
</ion-content>
